body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background: rgba(236, 206, 220, 0.753);

}


h1 {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

p {
  font-size: large;
}

div.texttask {
  flex-grow: 1;
  display: flex;
  /* justify-items:flex-end; */
  align-items: center;
  
  


}

p.task {
  flex-grow: 1;
  text-align: left;  
}

p.button {
  padding: 15px;

}

/* .buttons button {


}
 */
div.buttons {
  display: flex;
  flex-direction: column;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
  justify-content: start;
  align-items: flex-start;


}

div.true, div.false {
  background-color: lightgrey;
  width: 70%;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  justify-content: space-around;
  align-items: center;

}

div.true {
  text-decoration: line-through;
  text-decoration: black;
  background-color: darkgrey;
}

.true p.task {
  
  color: rgb(90, 89, 89);
  text-decoration: line-through;
  text-decoration-color: black;
}

div.list {
  /* background-color: white; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
  align-items: center;
}


.button:hover  {
  cursor: pointer;

}